* {

    margin: 0%;
}

/* header */
header {
    background-color: #111111;
}
.imagen-back{

    background-image: url(../imagenes/backgroundimage2.webp);
}

/*body*/
.nav-link{
    font-style: italic;
    font-size: 2em
    
}
.titulo-contacto{
    text-align: center;
}
.banda-imagen{
display: flex;
justify-content: center;
}

.imagen-de-la-historia{
    filter: grayscale(90%);
    cursor: pointer;

}
.imagen-de-la-historia:hover{
    filter: grayscale(0%);
}
.imagen-uno-concierto{
    width: 35rem;
}
.imagen-dos-concierto{
    width: 40rem;
}

.biografia-banda {
    color: black;
    font-size: x-large;
}
.letra-introduccion-biografia{
    
    font-size: 1,5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 2rem;
}

.nombre-integrantes {
    font-size: xx-large;
    font-style: italic
}

body {
    background-size: 0cap
}

.historia {
    color: black;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    padding: 3rem;
}

.nombre-integrantes {
    font-size: larger
}

.conciertos {
    color: black;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    padding: 3rem;
}

.ultimos-conciertos {

    font-size: x-large;
}

.integrantes {
    font-size: x-large;

}

.texto-historia {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger
}

/*footer*/
.tamaño-del-footer {
    font-size: xx-large;
}

.tamaño-contacto {
    font-size: x-large;
}

/*Mobile----------------------------------------*/
@media only screen and (max-width:500px) {}