/*Conciertos*/
/*cards-main*/
.card-title-olavarria{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card-text-olavarria{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

.card-title-tandil {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.card-text-tandil {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

.card-title-mendoza {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.card-text-mendoza {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

.card-title-mdz {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.card-text-mdz {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}
