/*Header general*/
.nav-link {
    font-style: italic;
    font-size: 2em
}
/*Footer general*/

.texto-final{
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 2rem;

}
